:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --gray: hsl(0, 0%, 18%, 1);
  --light-gray: hsl(0, 0%, 90%);
  --very-light-gray: hsl(0, 0%, 99%);
  --white: hsl(0, 0%, 100%);

  --font: 16px;
  --fw-normal: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: var(--fw-normal);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1.6;
  font-family: 'Commissioner', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: var(--very-light-gray);
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../components/images/image-hero-desktop.jpg') no-repeat top;
  background-size: contain;
  position: absolute;
}

@media (max-width: 767px) {
  body::before {
    background: url('../components/images/image-hero-mobile.jpg') no-repeat top;
  }
}
